extends ../index  

block content
    .create-content#create-content
        .form-wrapper
            form.form
                .right          
                    .producer-wrapper
                        h3 Choose producer's name
                        select#producerSelect.field
                            option(value='default') Please select Producer
                            each pro in producer
                                option(value=pro._id)
                                    span=pro.name
                    
                    .image-txt  
                        h3 Choose a Patch Audio file
                    input#patchFile.field(type='file' name= 'patch')
                    .image-txt  
                        h3 Choose a Patch's image file
                    input#image.field(type='file' accept='image/*' name='image')
                    select#category.field
                        option(value = 'default') Please Select Patch category
                        option Line 6 helix
                        option 캠퍼 프로파일러
                        option 에이블톤 라이브
                        option 메인 스테이지
                        option 앰비언트 패드
                    input#patchName.field(type='text' placeholder='Enter patch name' required='')
                    input#price.field(type='number', step='.01', placeholder='Enter single price', required='')
                    input#priceDiscount.field(type='number', step='.01' placeholder='Enter price discount')
                    input#youtubeLink-0.youtubeLink(type='text' placeholder = 'Enter youtube link')
                    .youtube-wrapper
                        .text-icon
                    .plus-minus-wrapper
                        .text-box
                            span="Add more Youtube links"
                        
                        .icon-box
                            i.fa.fa-plus-square
                        .icon-box
                            i.fa.fa-minus-square
                    textarea#description.field(name="description" placeholder='Enter the description')
                .bottom    
                    button.btn SUBMIT
    #upload-modal.modal-bg
        .upload-modal-wrapper
            i.fas.fa-spinner.fa-3x
            p Uploading...
   
    script(src='/js/patch-js/post.js')