head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
h1 Hello This is Elwin&apos;s Project
h2 Check it out my first project 
a(href='/admin-onyu') Worship Sounds Live Admin Dashboard