.pad-form {
  display: flex;
  height: 100px;
}
.wave {
  width: 500px;
}
.pad-wave-form {
  width: 900px;
  height: 80px;
}
.pad-play-wrapper {
  height: 20px;
}
.padTitle {
  margin-top: 0px;
}
.price {
  margin-top: 0px;
}
