.patchTitle,
.price {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  padding: 10px 20px;
}
.patch-form {
  padding-top: 15px;
}

.price {
  color: white;
  font-size: 18px;
}
.price-wrapper {
  background-color: rgb(233, 111, 40);
  border-radius: 8px;
}
